@model Cliente

<h1>Registrar Cliente</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control">
        
    </div>
<br>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <label asp-for="TipoCuenta"></label>
        <input asp-for="TipoCuenta" class="form-control">

         <label asp-for="SaldoInicial"></label>
        <input asp-for="SaldoInicial" class="form-control">
    </div>

    <button class="btn btn-primary">Enviar</button>

</form>